@font-face {
  font-family: Monopoly;
  src: url("MONOPOLY.ttf");
}
body {
  background-image: url("background.avif");
  display: grid;
  background-size: cover;
  overflow: hidden;
  user-select: none;
}
button {
  font-family: Monopoly, sans-serif;
  position: fixed;
}
button.startbutton {
  position: fixed;
  left: 0;
  right: 0%;
  top: 60%;
  bottom: 0%;
  display: block;
  margin: auto;
  align-self: center;
  display: block;
  margin: auto;
  width: 27vmin;
  height: 7vmin;
  font-size: 5vmin;
  text-align: center;
  color: aliceblue;
  background-color: red;
}
button.exitbutton {
  position: fixed;
  left: 0;
  right: 0%;
  top: 80%;
  bottom: 0%;
  display: block;
  margin: auto;
  align-self: center;
  display: block;
  margin: auto;
  width: 17vmin;
  height: 7vmin;
  font-size: 5vmin;
  text-align: center;
  color: aliceblue;
  background-color: red;
}
img.logo {
  content: url("logo.avif");
  position: fixed;
  left: 0;
  right: 0%;
  top: 0%;
  bottom: 50%;
  width: 40%;
  height: auto;
  display: block;
  margin: auto;
  align-self: center;
  display: block;
  margin: auto;
  color: aliceblue;
}
p.package {
  position: fixed;
  left: 0;
  right: 0%;
  top: 25%;
  bottom: 30%;
  width: auto;
  height: auto;
  display: block;
  margin: auto;
  align-self: center;
  font-family: Monopoly;
  width: 57vmin;
  height: 7vmin;
  font-size: 5vmin;
  text-align: center;
  color: aliceblue;
}
select.package {
  position: fixed;
  left: 0;
  right: 0%;
  top: 40%;
  bottom: 30%;
  width: fit-content;
  height: 5vmin;
  display: block;
  margin: auto;
  align-self: center;
  font-family: Monopoly;
  font-size: 3vmin;
  background-image: url("background.avif");
  color: blueviolet;
}
p.mode {
  position: fixed;
  left: 0;
  right: 0%;
  top: 55%;
  bottom: 30%;
  width: auto;
  height: auto;
  display: block;
  margin: auto;
  align-self: center;
  font-family: Monopoly;
  width: 57vmin;
  height: 7vmin;
  font-size: 5vmin;
  text-align: center;
  color: aliceblue;
}
select.mode {
  position: fixed;
  left: 0;
  right: 0%;
  top: 70%;
  bottom: 30%;
  width: 17vmin;
  height: 5vmin;
  display: block;
  margin: auto;
  align-self: center;
  font-family: Monopoly;
  font-size: 3vmin;
  background-image: url("background.avif");
  color: blueviolet;
}
